node_modules
**/node_modules
.gitignore
*.md
dist
**/dist
**/cache/
**/bindings/
**/artifacts/
**/broadcast/
**/deploys/

**/out/*
!**/out/IWorld.sol
**/out/IWorld.sol/*
!**/out/IWorld.sol/IWorld.abi.json
!**/out/IWorld.sol/IWorld.abi.d.json.ts
