@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Space+Mono:wght@400;700&display=swap");

* {
  transition: color 100ms ease-in, border-color 100ms ease-in;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  position: relative;
  color: #fff;
  padding-left: 50px;
}

.tsd-page-toolbar {
  background: #000;
  border-bottom: 3px solid #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", sans-serif;
}

:root {
  --primary-color: #eb4926;
  --secondary-color: #eb4926;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

code,
pre {
  border: none;
  border-radius: 0.3em;
}

#tsd-search.has-focus {
  background-color: var(--color-background-secondary);
}

.col-menu {
  border-left: none;
}

.tsd-theme-toggle {
  display: none;
}
.tsd-page-toolbar {
  transition: transform 0.1s ease-in;
  left: 50px;
  width: calc(100% - 50px);
}

.menu-sticky-wrap {
  position: relative;
  top: 1rem;
}

.tsd-page-toolbar--hide {
  transform: none;
}

.tsd-toolbar-contents {
  margin: 0 auto;
}
