name: Build

# Verifies build artifacts in pull requests.
# Note: this workflow does not trigger on pushes to main,
# because the release workflow includes a build+verify step.
on:
  pull_request:

jobs:
  build:
    name: Build and validate artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm nx run-many --target=build

      - name: Run codegen
        run: pnpm codegen

      - name: Outdated files, run `pnpm codegen` and commit them
        uses: ./.github/actions/require-empty-diff

      - name: Generate gas reports
        run: pnpm gas-report

      - name: Outdated files, run `pnpm gas-report` and commit them
        uses: ./.github/actions/require-empty-diff
