name: Build

# Verifies build artifacts in pull requests.
# Note: this workflow does not trigger on pushes to main,
# because the npm workflow includes a build+verify step.
on:
  pull_request:

jobs:
  build:
    name: Build and validate artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "yarn"

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: yarn install --network-concurrency 1

      - name: Build and install CLI
        working-directory: packages/cli
        run: yarn build && yarn link

      - name: Generate tables
        run: yarn tablegen

      - name: Outdated files detected, run `yarn tablegen` and commit them
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git status
            git --no-pager diff
            exit 1
          fi

      - name: Generate gas reports
        run: yarn gas-report

      - name: Outdated files detected, run `yarn gas-report` and commit them
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git status
            git --no-pager diff
            exit 1
          fi
