name: Docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docs:
    name: Generate docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Setup gomarkdoc
        run: go install github.com/princjef/gomarkdoc/cmd/gomarkdoc@latest && export PATH=${PATH}:`go env GOPATH`/bin

      - name: Setup
        uses: ./.github/actions/setup

      # TODO: build and codegen before docs?
      # TODO: move docs to nx target?
      - name: Build
        # `--parallel=false` because forge has a hard time building in parallel (resulting in `Text file busy (os error 26)` errors in CI)
        run: pnpm nx run-many --target=build --parallel=false

      - name: Prepare docs
        run: pnpm docs:prepare

      - name: Build docs
        uses: retypeapp/action-build@v2
        with:
          license: ${{ secrets.RETYPE_SECRET }}
        id: builddocs

      - name: Publish to Cloudflare Pages
        if: github.ref == 'refs/heads/main' || github.event.pull_request.head.repo.full_name == github.repository
        id: cloudflare_publish
        uses: cloudflare/pages-action@13c6a2f35417aaf1906cdbb1f6faf6c72c697b08
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: mud-dev
          directory: ${{ steps.builddocs.outputs.retype-output-path }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
