name: Docs

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  docs:
    runs-on: ubuntu-22.04
    name: Generate docs
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Setup gomarkdoc
        run: go install github.com/princjef/gomarkdoc/cmd/gomarkdoc@latest && export PATH=${PATH}:`go env GOPATH`/bin

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "yarn"

      - name: git-checkout
        uses: actions/checkout@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: yarn install --network-concurrency 1

      - name: Generate docs
        run: yarn docs

      - name: Publish to Cloudflare Pages
        if: github.ref == 'refs/heads/main' || github.event.pull_request.head.repo.full_name == github.repository
        id: cloudflare_publish
        uses: cloudflare/pages-action@13c6a2f35417aaf1906cdbb1f6faf6c72c697b08
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: mud-dev
          directory: .retype
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
