# .github/workflows/test.yml
name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: git-checkout
        uses: actions/checkout@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-36276aac0408fde8b00c19e2cfc3b7bec3fc429d

      - name: Install dependencies
        run: yarn install --network-concurrency 1

      - name: Run tests
        run: yarn test
